*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 3em;
    background-color: #CCC;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.gallery{
    max-width: 60vw;
    margin: 0 auto;
}

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
.gallery li{
    border: 4px solid black;
    list-style: none outside;
    padding: 1em 0.5em;
    background-color: white;
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    box-shadow: 
         0 0 1em 0 rgb(0, 0, 0, 0.3),
         0 0 0.4em 0 rgb(0, 0, 0, 0.7) inset;
}
