@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body{
    font:18px/1.5  Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
}
ul.check i{
    font-size: 25px;
    color: #2fcc71;
}
ul.star i{
    font-size: 25px;
    color: coral;
}
ul.contact i{
    font-size: 25px;
    color: #3498da;
}